<div [@routerTransition]>
    <app-page-header [heading]="'FeedBack/Reviews'" [icon]="'fa-edit'"></app-page-header>
    <br><br><br>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-5"></div>
        <div class="col-lg-6 col-lg-offset-5">

            <!--<h4>Detailed Feedback with contact info</h4>-->

            <form role="form">

                <div class="form-group input-group">
                    <!-- <span class="input-group-addon">@</span> -->
                    <input type="text" class="form-control" placeholder="Username">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-user-circle"></i></button>
                    </div>
                </div>

                <div class="form-group input-group">
                    <input type="text" class="form-control" placeholder="Comments">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button"><i class="fa fa-comments"></i></button>
                    </div>
                </div>

                <div class="form-group input-group">
                    <textarea class="form-control" placeholder="Description"></textarea>
                </div>


                <div class="pull-right">
                    <button type="submit" class="btn btn-lg btn-info">Submit FeedBack</button>
                </div>

            </form>
        </div>
    </div>
    <!-- /.row -->
</div>
