<div [@routerTransition]>
    <app-page-header [heading]="'Delayed Orders'" [icon]="'fa fa-fw fa-cart-plus'"></app-page-header>
    <table class="table table-striped table-condensed table-responsive">
        <thead>
        <tr>
            <th scope="col">EDI/Connect</th>
            <th scope="col">EAI</th>
            <th scope="col">SAP</th>
            <th scope="col">EAI</th>
            <th scope="col">ACUMAX</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input class="form-control" id="focusedInput" type="text" placeholder="EDI/Connect"></td>
            <td><input class="form-control" id="focusedInput" type="text" placeholder="EAI"></td>
            <td><input class="form-control" id="focusedInput" type="text" placeholder="SAP"></td>
            <td><input class="form-control" id="focusedInput" type="text" placeholder="EAI"></td>
            <td><input class="form-control" id="focusedInput" type="text" placeholder="ACUMAX"></td>
        </tr>
        <tr>
            <td style="background-color:#17db17">000000008226CONNORDR</td>
            <td style="background-color:#17db17">22743017</td>
            <td style="background-color:#f33a3a">1094903603</td>
            <td>600007899</td>
            <td>D147</td>
        </tr>
        <tr>
            <td style="background-color:#17db17">000000008227CONNORDR</td>
            <td style="background-color:#f33a3a">22743127</td>
            <td>1094903604</td>
            <td>600007902</td>
            <td>D148</td>
        </tr>
        <tr>
            <td style="background-color:#f33a3a">000000008228CONNORDR</td>
            <td>22743893</td>
            <td>1094903605</td>
            <td>600007901</td>
            <td>D149</td>
        </tr>

        <tr>
            <td style="background-color:#17db17">000000008229CONNORDR</td>
            <td style="background-color:#17db17">22743007</td>
            <td style="background-color:#f33a3a">1094903609</td>
            <td>600007904</td>
            <td>D150</td>
        </tr>
        <tr>
            <td style="background-color:#f33a3a">000000008228CONNORDR</td>
            <td>22743023</td>
            <td>1094903605</td>
            <td>600007921</td>
            <td>D151</td>
        </tr>

        <tr>
            <td style="background-color:#17db17">000000008230CONNORDR</td>
            <td style="background-color:#17db17">22743017</td>
            <td style="background-color:#f33a3a">1094903603</td>
            <td>600007199</td>
            <td>D152</td>
        </tr>

        <tr>
            <td style="background-color:#17db17">000000008231CONNORDR</td>
            <td style="background-color:#17db17">22743017</td>
            <td style="background-color:#17db17">1094903603</td>
            <td style="background-color:#f33a3a">600007899</td>
            <td>D153</td>
        </tr>
        <tr>
            <td style="background-color:#17db17">000000008232CONNORDR</td>
            <td style="background-color:#f33a3a">22743007</td>
            <td>1094903611</td>
            <td>600007202</td>
            <td>D154</td>
        </tr>
        <tr>
            <td style="background-color:#f33a3a">000000008233CONNORDR</td>
            <td>22743003</td>
            <td>1094903605</td>
            <td>600001921</td>
            <td>D155</td>
        </tr>

        <tr>
            <td style="background-color:#17db17">000000008234CONNORDR</td>
            <td style="background-color:#17db17">22743007</td>
            <td style="background-color:#17db17">1094903612</td>
            <td style="background-color:#17db17">600007902</td>
            <td style="background-color:#f33a3a">D148</td>
        </tr>
        <tr>
            <td style="background-color:#f33a3a">000000008235CONNORDR</td>
            <td>22743543</td>
            <td>1094943605</td>
            <td>600007801</td>
            <td>D156</td>
        </tr>

        <tr>
            <td style="background-color:#17db17">000000008236CONNORDR</td>
            <td style="background-color:#17db17">22743000</td>
            <td style="background-color:#17db17">1094903208</td>
            <td style="background-color:#f33a3a">600007902</td>
            <td >D157</td>
        </tr>
        <tr>
            <td style="background-color:#17db17">000000008237CONNORDR</td>
            <td style="background-color:#17db17">22743001</td>
            <td style="background-color:#17db17">1094903609</td>
            <td style="background-color:#17db17">600007902</td>
            <td style="background-color:#f33a3a">D159</td>
        </tr>
        </tbody>
    </table>
    <!--<div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Bar Chart
                </div>
                <div class="card-body">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
                <div class="card-footer">
                    <button class="btn btn-info btn-sm" (click)="randomize()">Update</button>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Doughnut Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Radar Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Pie Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Polar Area Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130px" [data]="polarAreaChartData" [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" [chartType]="polarAreaChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Line Chart
                </div>
                <div class="card-body">
                    <canvas baseChart height="130" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                    </canvas>
                </div>
            </div>
        </div>
    </div>-->
</div>
