<div [@routerTransition]>
    <!--<h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
    <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <hr>-->
    <div class="row">
        <div class="col-xl-2 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fas fa-cart-plus'" [count]="'60 Deliveries'" [label]="'50 Orders'"
                      orderstatus="ConnectOrders"></app-stat>
        </div>
        <div class="col-xl-2 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fas fa-columns'" [count]="12" [label]="'5 Orders'"
                      orderstatus="EDI"></app-stat>
        </div>
        <div class="col-xl-2 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fas fa-sitemap'" [count]="124" [label]="'55 Orders'"
                      orderstatus="Ent Integration"></app-stat>
        </div>
        <div class="col-xl-2 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fas fa-random'" [count]="'60 Deliveries'" [label]="'50 Orders'"
                      orderstatus="SAP"></app-stat>
        </div>
        <div class="col-xl-2 col-lg-6">
            <app-stat [bgClass]="'info'" [icon]="'fas fa-truck'" [count]="13" [label]="'12 Orders'"
                      orderstatus="ACUMAX"></app-stat>
        </div>
        <div class="col-xl-2 col-lg-6">
           <!-- <app-stat [bgClass]="'primary'" [icon]="'fas fa-server'" [count]="13" [label]="'Orders!'"
                      orderstatus="StatusReport"></app-stat>-->
        </div>
    </div>

    <br><br>
    <!--<div class="row">
        <div class="col-md-4">
            <input *ngIf="config.filtering" placeholder="Filter all columns"
                   [ngTableFiltering]="config.filtering"
                   class="form-control"
                   (tableChanged)="onChangeTable(config)"/>
        </div>
    </div>
    <br>-->
    <ng-table [config]="config"
              (tableChanged)="onChangeTable(config)"
              (cellClicked)="onCellClick($event)"
              [rows]="rows" [columns]="columns">
    </ng-table>
    <div class="row">
        <div class="col-xl-10">
            <pagination *ngIf="config.paging"
                        class="pagination-sm"
                        [(ngModel)]="page"
                        [totalItems]="length"
                        [itemsPerPage]="itemsPerPage"
                        [maxSize]="maxSize"
                        [boundaryLinks]="true"
                        [rotate]="false"
                        (pageChanged)="onChangeTable(config, $event)"
                        (numPages)="numPages = $event">
            </pagination>
        </div>
        <div class="col-xl-2">
            <div *ngIf="config.paging">Page: {{page}} / {{numPages}}</div>
        </div>
    </div>
    <!--<ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">
                    <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
                </div>
                &lt;!&ndash; /.card-header &ndash;&gt;
                <app-timeline></app-timeline>
                &lt;!&ndash; /.card-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.card &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-8 &ndash;&gt;
        <div class="col-lg-4">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> Notifications card
                </div>
                &lt;!&ndash; /.card-header &ndash;&gt;
                <app-notification></app-notification>
                &lt;!&ndash; /.card-body &ndash;&gt;
            </div>
            &lt;!&ndash; /.card &ndash;&gt;

            <app-chat></app-chat>
            &lt;!&ndash; /.card .chat-card &ndash;&gt;
        </div>
        &lt;!&ndash; /.col-lg-4 &ndash;&gt;
    </div>-->
</div>
